/*--------------------------------------------------------------
  About - What is Wombat?
--------------------------------------------------------------*/
.about h4 {
  font-family: 'Mulish', sans-serif;
  font-size: 23px;
  color: #464E2E;
}

.about p {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 17px;
  color: #A4BE7B;
}

.about .image {
  padding-bottom: 60px;
  margin-bottom: 50px;
}

.about .img-fluid {
  width: 100%;
}