/*--------------------------------------------------------------
  Donation
--------------------------------------------------------------*/
.donation p {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 17px;
  color: #9ea19c;
}

.donation .box {
  position: relative;
  text-align: center;
  overflow: hidden;
  background-color: #FEF7DC;
  border: 3px solid #8E806A;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.donation .box h3 {
  font-size: 25px;
  font-weight: 600;
  color: #37440e;
  margin-top: 15px;
  padding: 15px;
}

.donation .box h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #4e5f1b;
  margin-bottom: 20px;
}

.donation .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.donation .box h4 span {
  font-size: 16px;
  font-weight: 300;
  color: #bababa;
}

.donation .box ul {
  font-size: 14px;
  text-align: center;
  list-style: none;
  line-height: 20px;
  color: #6b736d;
  padding: 0;
}

.donation .box ul li {
  padding-bottom: 16px;
}

.donation .box ul i {
  font-size: 18px;
  color: #7cc576;
  padding-right: 4px;
}

.donation .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.donation .box .btn-wrap {
  text-align: center;
  padding: 15px;
}

.donation .box .btn-buy {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #7cc576;
  transition: 0.3s;
  border-radius: 5px;
  border: 2px solid #7cc576;
  padding: 10px 40px 12px 40px;
}

.donation .box .btn-buy:hover {
  background: #7cc576;
  color: #fff;
}

.donation .recommended {
  border-color: #7cc576;
}

.donation .recommended .btn-buy {
  color: #fff;
  background: #7cc576;
}

.donation .recommended .btn-buy:hover {
  background: #61b959;
  border-color: #61b959;
}

.donation .recommended-badge {
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  color: #7cc576;
  background: #ddf0d5;
  text-transform: uppercase;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 50px;
  top: 5px;
  left: 50%;
  padding: 4px 25px 6px 25px;
}