/*--------------------------------------------------------------
  Fun Facts about Wombats
--------------------------------------------------------------*/
.fact .fact-list {
  list-style: none;
  padding: 0;
}
  
.fact .fact-list li {
  border-bottom: 1px solid #935900;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.fact .fact-list a {
  display: block;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  color: #7cc576;
  line-height: 24px;
  cursor: pointer;
  padding-right: 25px;
}

.fact .fact-list i {
  position: absolute;
  font-size: 24px;
  top: 0;
  right: 0;
}

.fact .fact-list p {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.fact .fact-list .icon-show {
  display: none;
}

.fact .fact-list a.collapsed {
  color: #405e4f;
}

.fact .fact-list a.collapsed:hover {
  color: #7cc576;
}

.fact .fact-list a.collapsed .icon-show {
  display: inline-block;
}

.fact .fact-list a.collapsed .icon-close {
  display: none;
}