/*--------------------------------------------------------------
  Gallery
--------------------------------------------------------------*/
.gallery p {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 17px;
  color: #A4BE7B;
}

.gallery .gallery-item {
  margin-bottom: 30px;
}

.gallery #gallery-flters {
  list-style: none;
  text-align: center;
  margin: 0 auto 25px auto;
  padding: 0;
}

.gallery #gallery-flters li {
  display: inline-block;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: #8E806A;
  background: #FEF7DC;
  transition: all 0.3s ease-in-out;
  border: 2px solid #8E806A;
  border-radius: 10px;
  margin: 0 4px 10px 4px;
  padding: 10px 18px 12px 18px;
}

.gallery #gallery-flters li:hover, .gallery #gallery-flters li.filter-active {
  background-color: #FFCB74;
}

.gallery #gallery-flters li:last-child {
  margin-right: 0;
}

.gallery .gallery-wrap {
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.gallery .gallery-wrap::before {
  content: "";
  position: absolute;
  background: rgba(21, 21, 21, 0.6);
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
}

.gallery .gallery-wrap .gallery-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.gallery .gallery-wrap .gallery-info::before {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  transition: all 0.5s ease 0s;
  z-index: 9994;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

.gallery .gallery-wrap .gallery-info::after {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  transition: all 0.5s ease 0s;
  z-index: 9994;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

.gallery .gallery-wrap .gallery-info h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.gallery .gallery-wrap img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.gallery .gallery-wrap:hover::before {
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.gallery .gallery-wrap:hover .gallery-info {
  opacity: 1;
}

.gallery .gallery-wrap:hover .gallery-info::before {
  top: 15px;
  left: 15px;
}

.gallery .gallery-wrap:hover .gallery-info::after {
  bottom: 15px;
  right: 15px;
}

.gallery .video-box {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 600px;
}

.gallery .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#7cc576 50%, rgba(124, 197, 118, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.gallery .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.gallery .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(124, 197, 118, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.gallery .play-btn:hover::after {
  border-left: 15px solid #7cc576;
  transform: scale(20);
}

.gallery .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}