/*--------------------------------------------------------------
  Habitat and Self-Defense
--------------------------------------------------------------*/ 
.habitat h4, p {
  color: #464E2E;
}

.habitat .nav-tabs {
  border: 0;
}

.habitat .nav-link {
  border: 0;
  padding: 20px;
  transition: 0.3s;
}

.habitat .nav-link h4 {
  color: #8E806A;
  font-size: 25px;
  font-weight: 600;
  transition: 0.3s;
}

.habitat .nav-link:hover h4 {
  color: #FFCB74;
}

.habitat .nav-link p {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 15px;
  color: #464E2E;
  text-align: justify;
  margin-bottom: 0;
  padding: 5px;
}

.habitat .nav-link:hover p {
  color: #935900;
}

.habitat .nav-link.active {
  background-color: #FEF7DC;
  border: 5px solid #8E806A;
  border-radius: 20px;
  box-shadow: 0px 0 25px #8E806A;
}

.habitat .nav-link.active:hover h4 {
  color: #F4722B;
}

.habitat .tab-pane img {
  width: 100%;
  height: 470px;
  object-fit: cover;
  border-radius: 10px;
}

.habitat .tab-pane.active {
  -webkit-animation: slide-down 0.5s ease-out;
  animation: slide-down 0.5s ease-out;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}