/*--------------------------------------------------------------
  Header
--------------------------------------------------------------*/
#header {
  background-color: #CFB784;
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
  box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);
}

#header .logo h1 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #FEF7DC;
  text-decoration: none;
}

#header .logo img {
  max-height: 40px;
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  #header {
    height: 70px;
  }
}

.scrolled-offset {
  margin-top: 90px;
}

@media (max-width: 992px) {
  .scrolled-offset {
    margin-top: 90px;
  }
}